@import '../../themes/light.scss';
.from {
    padding: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.2em;
    grid-column-gap: 3em;
    @include input-component;

    div:nth-child(1),
    div:nth-child(2) {
        width: 50%;
        grid-column: 1 / span 3;
        justify-self: center;
        display: flex;
        flex-direction: column;
    }

    div:nth-child(3) {
        width: 50%;
        grid-column: 1 / span 3;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    div:last-child {
        grid-column: 1 / span 3;
        justify-self: center;
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin-top: 1rem;
    }   
}
